.contacto{
    height: 100vh;
    min-height: 690px;
    max-height: 900px;
    background-image: url(../img/fondo-contacto.jpg);
    background-size: cover;
    background-position: top right;
    .container{
        height: 100%;   
        .contacto__cont{
            position: relative;
            height: 100%;
            .contacto__form{
                position: absolute;
                width: 70%;
                height: 400px;
                transform: translate(-50%, -50%);
                top: 60%;
                left: 50%;
                .form-group{
                    .form-element{
                        width: 49%;
                        background-color: rgba(226, 226, 226, 0.8);
                        padding: 10px;
                        border: solid 1px #000;
                        margin-bottom: 10px;
                        color: #000;
                        &:nth-child(2){
                           float: right;
                        }
                        &::-webkit-input-placeholder {
                            color: #000 !important;    
                        }
        
                        &:-moz-placeholder { /* Firefox 18- */
                            color: #000 !important;
                        }
                        
                        &::-moz-placeholder {  /* Firefox 19+ */
                            color: #000 !important;
                        }
                        
                        &:-ms-input-placeholder {
                            color: #000 !important;
                        }
                    }
                    .message{
                        width: 100%;
                        height: 150px;
                    }
                    .submit{
                        padding: 10px 25px;
                        color: #000;
                        background-color: rgba(226, 226, 226, 0.8);
                        border: solid 1px #000;
                        float: right;
                    }
                }
            }
        }
        footer{
            text-align: center;
            color: $color4;
            margin-top: -100px;
        }
    }
}

@media screen and (max-width: 991px){
    .contacto{
        .container{
            .contacto__cont{
                .contacto__form{
                    width: 85%;
                    top: 50%;
                    .form-group{
                        .form-element{
                            width: 100%;
                        }
                    }
                }
            }
            footer{
                margin-top: -85px;
            }
        }
    }
}
