.location{
    height: 100vh;
    min-height: 875px;
    max-height: 950px;
    .container-fluid{
        padding: 0;
        height: 100%;
        .row{
            margin: 0;
            height: 100%;
            .col-md-6{
                padding: 0;
                height: 100%;
                .map__cont{
                    height: 100%;
                    width: 100%;
                    iframe{
                        height: 100%;
                        width: 100%;
                    }
                }
                .location__cont{
                    height: 100%;
                    width: 100%;
                    position: relative;
                    .location__inner{
                        text-align: center;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 47%;
                        left: 50%;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        .calle{
                            font-size: 25px;
                            line-height: 5;
                            overflow: hidden;
                            white-space: nowrap;
                            .num{
                                font-weight: 700;
                            }
                        }
                        p{
                            font-size: 18px;
                            line-height: 1;
                            font-weight: 200;
                        }
                    }
                    &#nautla{
                        background-color: #456e64;
                    }
                    &#tlaxcala{
                        background-color: #0047ba;
                    }
                    &#vasconcelos{
                        background-color: #0096a7;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px){
    .location{
        .container-fluid{
            .row{
                .col-md-6{
                    height: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 400px){
    .location{
        .container-fluid{
            .row{
                .col-md-6{
                    .location__cont{
                        .location__inner{
                            .calle{
                                font-size: 20px;
                            }
                            p{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}