$color1: #002259;
$color2: #011a3d;
$color3: #575756;
$color4: #9c9b9b;

$font1: 'Muli', sans-serif;

@import '_basic.scss';
@import '_navDesk.scss';
@import '_slider.scss';
@import '_zonas.scss';
@import '_contacto.scss';
@import '_location.scss';
@import '_gallery.scss';
@import '_navMobile.scss';
@import '_deptos.scss';